<p>
  Sort topics by:
</p>
<div class="btn-group" role="group" aria-label="Sort topics">
  {{#link-to (query-params sort="label")
    tagName="button"
    class="btn btn-default"
  }}
    Name
  {{/link-to}}

  {{#link-to (query-params sort="volume")
    tagName="button"
    class="btn btn-default"
  }}
    Volume
  {{/link-to}}

  {{#link-to (query-params sort="sentimentScore")
    tagName="button"
    class="btn btn-default"
  }}
    Sentiment Score
  {{/link-to}}
</div>
<hr>
<p>
  Topics sorted by <code>{{sortKey}}</code>
</p>

<ul>
  {{#each sortedTopics as |topic|}}
    <li>
      {{#link-to "topic" topic.id}}
        {{topic.label}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>