@import "ember-bootstrap/bootstrap";

body {
  padding: 0 30px;
}

a.active {
  font-weight: bold;
}

.panel-heading {
  h2 {
    margin: 14px 0;
  }
  button {
    float: right;
    margin: 1px 0;
  }
}
